.container {
  display: flex;
  padding: 10px;
  justify-content: space-between;

}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
}

.wrapper-for-item {
  width: 100%;
}

.text {
  display: inline;
  margin: 0;
  margin-left: 5px;
}

.btn {
  border: none;
  font: inherit;
  cursor: pointer;
  outline: none;
  margin-left: auto;
  border-radius: 4px;
  padding: 4px 10px;
  background-color: #3f51b5;
  color: #fff;
}

.btn:hover,
.btn:focus {
  background-color: #303f9f;
}