.wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.link {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s;
}

.link:hover,
.link:focus {
    color: #3f51b5;
}